* {
    margin: 0px;
    padding: 0px;
    font-family: Economica;
}

body{
    background-color: #e37d96;
}

.png{   
    width: 50%;
}

.header{
    background-color: #d4cfd4;
    color: #fc0845;
    height: 110px;
    
    vertical-align: middle;
}

.title{
    position: relative;
    padding-left: 5%;
    line-height: 95px;
    font-size: 60px;
}

.header > h3{
    margin-left: 1140px;
    color: #fc0845;
    position: relative;
    line-height: 0px
}


.button{
    color: #d4cfd4;
    font-size: 20px;
    border: 0px;
    background-color: #242323;
    width: 24.8%;
    height: 50px
}

.button:hover{
    color:#fc0845
}



.text-container{
    width: 100%;  
}

h2{
    font-size: 30px;

}
#about-me{
    padding-left: 5%;
    font-size: 20px;
}



#previous-experiences{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    width: 33%;
}

#skills{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    width: 33%;
}




.app-text > h2{
    width: 50%;
    margin-left: 15px;
    padding-top: 15%;
    
}


#blackjack-png{
    position: relative;
    width: 200px;
    left: 200px;
    top: 60px;
}

#blackjack-text{
    position: relative;
    top: -120px;
}
#blackjack-01{
    position: relative;
    top: -450px;
    left: 54%;
    width: 45%
}

#blackjack-02{
    position: relative;
    bottom: 190px;
    left: 115px;
    width: 45%;
}


#couplepal-png{
    position: relative;
    width: 200px;
    left: 200px;
    top: 40px;
}

#couplepal-text{
    position: relative;
    top: -120px;
}

#couplepal-01{
    position: relative;
    top: -500px;
    left: 55%;
    width: 40%
}

#couplepal-02{
    position: relative;
    bottom: 300px;
    left: 193px;
    width: 40%;
}

#lotterydraw-png{
    position: relative;
    width: 200px;
    left: 200px;
    top: 40px;
}

#lotterydraw-text{
    position: relative;
    top: -140px;
}

#lotterydraw-01{
    position: relative;
    top: -550px;
    left: 60%;
    width: 30%;
}

#lotterydraw-02{
    position: relative;
    bottom: 450px;
    left: 388px;
    width: 30%;
}



.form-container{
    padding-top: 15%;
    padding-left: 30%;
    font-size: 200%;
}

#name{
    width: 400px;
    margin-left: 188px;
    background-color: #e37d96;
    font-size: large;
    border-top: #e37d96;
    border-left: #e37d96;
    border-right: #e37d96;
    border-bottom: 2px solid black;
}

#email{
    width:400px;
    margin-left: 98px;
    background-color: #e37d96;
    font-size: large;
    border-top: #e37d96;
    border-left: #e37d96;
    border-right: #e37d96;
    border-bottom: 2px solid black;
}

#message{
    width: 400px;
    font-size: large;
    background-color: #e37d96;
    font-size: large;
    border-top: #e37d96;
    border-left: #e37d96;
    border-right: #e37d96;
    border-bottom: 2px solid black;
}

#contact-button{
    width: 200px;
    height: 30px;
    font-size: large;
    border-style:groove;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#contact-button:hover{
    background-color: gray;
    
}






